.color-btn{
    width: 30px;
    height: 30px;
    border : none;
    border-radius: 50%;
}
.color-btn[data-color="black"]{
    background: black;
  }
.color-btn[data-color="red"]{
    background: red;
  }
.color-btn[data-color="green"]{
    background: green;
  }
.color-btn[data-color="blue"]{
    background: blue;
  }

.ModeControl{
    float: left;
}

.ColorControl{
    float: left;
}

.inputStyle{
  position: 'fixed';
}

.container{
  flex-direction: row;
}


